@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins';
}
@layer components {
    .navBtn{
        @apply h-6 cursor-pointer hover:scale-110 transition-all duration-150 ease-out;
    }
    .bg-default{
        background-color: #fdfbff;
    }
    .nav-item{
        @apply cursor-pointer h-16 flex justify-center items-center;
    }
    .nav-item:hover{
        @apply text-black cursor-pointer
    }
    .nav-selected{
        height: 4.3rem;
        @apply  relative flex items-center justify-center w-max px-3 text-black; 
    }
    .nav-selected:after{
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        @apply bg-blue-900;
        height:5px;
        border-radius:10px;
    }
    .sub-nav-item{
        @apply w-max px-1 text-gray-400 text-sm lg:mx-4 cursor-pointer hover:text-black;
    }
    .sub-nav-item:first-child{
        @apply ml-0;
    }
    .sub-nav-selected{
        height: 2.2rem;
        @apply  relative text-black; 
    }
    .sub-nav-selected:after{
        content:'';
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        @apply bg-blue-900;
        height:5px;
        border-radius:10px;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }